aiohttp==3.5.4
alabaster==0.7.10
alphalens==0.3.6
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
ansimarkup==1.4.0
appdirs==1.4.3
APScheduler==3.6.0
asn1crypto==0.22.0
astroid==1.5.3
astropy==2.0.2
async-timeout==3.0.1
attrs==18.2.0
Automat==0.8.0
babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
backtrader==1.9.76.123
baidu-aip==2.2.18.0
beautifulsoup4==4.6.0
better-exceptions-fork==0.2.1.post6
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.0.0
bokeh==0.12.10
boto==2.48.0
Bottleneck==1.2.1
bs4==0.0.1
CacheControl==0.12.3
certifi==2018.11.29
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.4.3
colorlog==4.0.2
comtypes==1.1.2
conda==4.6.7
conda-build==3.0.27
conda-verify==2.0.0
constantly==15.1.0
constants==0.6.0
contextlib2==0.5.5
crypto==1.4.1
cryptography==2.0.3
cssselect==1.1.0
cycler==0.10.0
Cython==0.26.1
cytoolz==0.8.2
dask==2.28.0
datashape==0.5.4
DBUtils==1.3
decorator==4.1.2
delayed==0.10.0b2
delegator.py==0.1.1
demjson==2.2.4
dependencies==0.15
distlib==0.2.5
distributed==1.19.1
docutils==0.14
easytrader==0.20.1
easyutils==0.1.7
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==2.0.12
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SocketIO==4.2.1
functoolz==0.4
gevent==1.2.2
gevent-websocket==0.10.1
glob2==0.5
greenlet==0.4.12
grpcio==1.23.0
grpcio-tools==1.23.0
h5py==2.7.0
heapdict==1.0.0
hiredis==1.1.0
html5lib==0.999999999
hyperlink==19.0.0
idna==2.6
idna-ssl==1.1.0
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
interval==1.0.0
intervaltree==3.0.2
ipykernel==5.1.3
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
janus==0.4.0
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
joblib==0.14.0
jqdatasdk==1.7.6
json2html==1.2.1
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
keyboard==0.13.5
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
line-profiler==2.1.2
llvmlite==0.30.0
locket==0.2.0
lockfile==0.12.2
loguru==0.5.2
lxml==4.4.0
MarkupSafe==1.0
mat4py==0.4.2
matplotlib==3.1.1
mccabe==0.6.1
menuinst==1.4.14
mistune==0.7.4
mongoengine==0.18.0
mootdx==0.6.4
motor==2.0.0
mplfinance==0.12.7a0
mpmath==0.19
msgpack==0.6.0
msgpack-python==0.4.8
multidict==4.5.2
multipledispatch==0.4.9
Naked==0.1.31
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.4
nose==1.3.7
notebook==5.0.0
numba==0.46.0
numexpr==2.6.2
numpy==1.18.0
numpydoc==0.7.0
odo==0.5.1
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==1.1.0
pandocfilters==1.4.2
parsel==1.5.2
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
PeakUtils==1.3.3
pep8==1.7.0
pexpect==4.7.0
pickleshare==0.7.4
pika==1.0.0b1
Pillow==6.2.1
pkginfo==1.4.1
ply==3.10
prettytable==0.7.2
progress==1.3
prompt-toolkit==1.0.15
Protego==0.1.15
protobuf==3.9.1
protobuf3-to-dict==0.1.5
psutil==5.4.0
ptyprocess==0.6.0
puppet==0.8.23
py==1.4.34
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.3.1
pyconvert==0.6.3
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.9.4
pycurl==7.43.0
PyDispatcher==2.0.5
pyecharts==1.6.0
pyecharts-snapshot==0.2.0
pyee==6.0.0
pyflakes==1.6.0
Pygments==2.2.0
PyHamcrest==1.9.0
pylint==1.7.4
pymongo==3.8.0
PyMySQL==0.9.3
pyodbc==4.0.17
pyOpenSSL==17.2.0
pypandoc==1.4
pyparsing==2.2.0
pyppeteer==0.0.25
PyQt5==5.13.2
PyQt5-sip==12.7.0
pyquery==1.4.1
PySocks==1.6.7
pytdx==1.72
pytesseract==0.3.0
pytest==3.2.1
python-dateutil==2.8.1
python-engineio==3.10.0
python-snappy==0.5.3
python-socketio==4.3.1
pytils==0.3
pytz==2017.2
PyWavelets==0.5.2
pywin32==221
pywinauto==0.6.8
PyYAML==3.12
pyzmq==18.1.1
qaenv==0.0.2
QAStrategy==0.0.18
qifiaccount==1.9.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
quantaxis==1.9.11
quantaxis-pubsub==1.8
queuelib==1.5.0
redis==3.2.1
redlock==1.2.0
requests==2.18.4
retrying==1.3.3
rope==0.10.5
rqopen-client==0.0.6
ruamel-yaml==0.11.14
sanber-system==1.0
scikit-image==0.13.0
scikit-learn==0.21.3
scipy==1.1.0
Scrapy==1.8.0
seaborn==0.9.0
selenium==3.141.0
service-identity==18.1.0
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
snowballstemmer==1.2.1
some-package==0.1
sortedcollections==0.5.3
sortedcontainers==2.1.0
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
spyder==3.2.4
SQLAlchemy==1.3.11
statsmodels==0.9.0
sunrise-api==1.0
sunrise-common==1.0
sunrise-crontab==1.0
sunrise-data-db==1.0
sunrise-factor==1.0
sunrise-real-trade-api==1.0
sunrise-risk-control==1.0
sunrise-signal-event==1.0
sunrise-trade==1.0
sunrise-util==1.0
sympy==1.1.1
TA-Lib==0.4.17
tables==3.4.2
tabulate==0.8.3
tblib==1.3.2
testpath==0.3.1
thriftpy2==0.4.8
tools==0.1.9
toolz==0.11.1
tornado==4.5.2
tqdm==4.38.0
tqsdk==1.1.0
traitlets==4.3.2
tushare==1.2.48
Twisted==19.10.0
typing==3.6.2
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.22
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.0.2
Werkzeug==0.12.2
widgetsnbextension==3.0.2
win-inet-pton==1.0.1
win-unicode-console==0.5
win32-setctime==1.0.2
wincertstore==0.2
wrapt==1.10.11
xarray==0.16.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.3.0
yarl==1.3.0
zenlog==1.1
zict==0.1.3
zope.interface==4.7.1
